*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    overflow-x: hidden;
    z-index: 100;
    background-image: url(gambar/bagroundpolos.png);
}

/* none */
.none{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.none:hover{
    color: cyan;
}

.padding{
    padding-top: 20px;
}

.padding2{
    padding-top: 10px;
}

.margin{
    margin: 0 auto;
    width: 30%;
}

.margin2{
    margin: 0 auto;
    width: 55%;
}

.margin3{
    margin: 0 auto;
    width: 85%;
}

/* padding bot */
.padding-bot1{
    padding-bottom: 25px;
}
.padding-bot2{
    padding-bottom: 30px;
}
.padding-bot3{
    padding-bottom: 30px;
}

/* Navbar */
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 10;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    color: white;
    background-image:linear-gradient(rgba(0, 1, 3, 0.7),rgba(0, 0, 0, 0.7));
    border-bottom: 2px solid white;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 30%;
    position: relative;
}

nav ul li{
    display: inline-block;
}

.logo img{
    float: left;
    width: 100px;
    height: 100px;
    justify-content: center;
}

.logo h1{
    font-family: 'Lobster', cursive;
    font-size: 1.8em;   
    float: right;
    padding-top: 30px;
}

nav ul li a {
    color: white;
    transition: 0.3s;
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover{
    color: #1aeeef;
}

/* Hamburger menu */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;    
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger menu animation*/
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px,-1px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0)
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px,0px);
    background-color: white;
}

/* Responsive Breakpoint */
/* Table */
@media screen and (max-width: 1489px){
    nav ul {
        width: 30%;
    }
}
/* mobile */
@media screen and (max-width: 576px){
    .menu-toggle {
        display: flex;
        padding-right: 50px;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        justify-content: space-evenly;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul.slide {
        transform: translateX(0);
    }

    section h2{
        font-size: 30%;
    }
}

/* Banner */
.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('gambar/Masjid banner.jpg');
}
.banner h2{
    color: #fff;
    font-size: 40px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
.banner p{
    color: #fff;
    margin-top: 10px;
    margin-bottom :10px;
    font-size: 20px;
}
section{
    padding: 25%;
}
#banner{
    text-align: center;
}
/* coloum */

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    text-align: center;
    color: white;
    padding-top: 115px;
  }

.container2 {
    display: flex;
    flex-direction: column;
    height: 90vh;
    text-align: center;
    color: white;
    padding-top: 75px;
    border-top: 2px solid #fff;
  }

.container3 {
    display: flex;
    flex-direction: column;
    height: 90vh;
    text-align: center;
    color: white;
    padding-top: 50px;
}
  
.top-column {
    box-sizing: border-box;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
    width: 30%;
}
  
.bottom-column {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.bottom-center-column{
    padding-bottom: 100px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    width: 30%;
}
  
.column {
    width: 40%;
    padding: 50px;
    box-sizing: border-box;
}

.column2 {
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
}

/* box */
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.study-col{
    flex-basis: 31%;
    background: #1f1e1e;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.study-col h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.border{
    border-top: 2px solid white;
}
  
/* footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}
.container-fot {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.container-fot p {
    margin: 0;
}
  
.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.social-icons li {
    margin-right: 10px;
}
  
.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a img {
    display: block;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
  }
  
  .social-icons a:hover img {
    background-color: #1a1a1a;
    color: #fff;
  }
  
  